/*===================================================
 base.scss
 ベースCSSの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

body {
  width: 100%;
  box-sizing: border-box;
  background-color: $c-base;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

p {
  font-size: $f-default;
  color: $c-font-black;
}

ol {
  margin: 0
}

.container {
  position: relative;

  &__wrapper {
    position: relative;
  }
}

.contents {
  @include maxWidth;
  padding: 80px 0;

  @include mq(tab) {
    padding: 64px 32px;
  }

  @include mq(sp) {
    padding: 48px 16px;
  }

  &--padding-bt {
    padding-bottom: 60px;
  }

  &--padding {
    padding: 60px 0;
    @include mq(tab) {
      padding: 48px 16px;
    }
  }

  &__wrapper {
    @include textWidth;
  }
}