/*===================================================
 menu.scss
 メニューコンテンツの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

.menu {
  & .desc {
    margin-bottom: 40px;
  }
}

/* --------------------------------------------------
 メニュー内容の定義
-------------------------------------------------- */
.menu-contents {

  @keyframes displayAnime {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__desc {
    @include InnerWidth;
    margin-bottom: 32px;
  }

  &__box {
    margin-bottom: 80px;
    @include mq(tab) {
      margin-bottom: 64px;
    }
  }
}

/* --------------------------------------------------
 メニューリスト
-------------------------------------------------- */
.menu-list {
  @include InnerWidth;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;

  @include mq(tab) {
    flex-wrap: wrap;
    gap: 48px;
  }

  @include mq(sp) {
    gap: normal;
    flex-direction: column;
  }

  &--mb {
    margin-bottom: 80px;

    @include mq(tab) {
      margin-bottom: 64px;
    }

    @include mq(sp) {
      margin-bottom: 48px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* --------------------------------------------------
 メニューカード
-------------------------------------------------- */
.menu-card {
  width: 456px;

  @include mq(tab) {
    width: calc(100% / 2 - 24px);
  }

  @include mq(sp) {
    width: 100%;
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__capture {
    width: 100%;
    margin-bottom: 16px;
  }

  &__img {
    height: 344px;
  }

  &__name-price {
    display: flex;
    font-size: $f-default;
    margin-bottom: 8px;

    @include mq(tab) {
      flex-wrap: wrap;
    }
  }

  &__name {
    font-weight: 600;
    @include mq(tab) {
      width: 100%;
    }

    &--drink {
      width: 200px;
      font-weight: 300;
      margin-bottom: 0;
    }
  }

  &__price {
    display: flex;
    margin-left: auto;
  }

  &__desc {
    font-size: $f-small;
  }

  &__drink-price {
    display: flex;
    align-items: center;
  }
}