/*===================================================
 mitake.scss
 御岳ページの定義
================================================== */

/* --------------------------------------------------
 mitakeコンテンツの定義
-------------------------------------------------- */
.mitake {
  &__wrapper {
    display: flex;
    gap: 0px 64px;
    margin-bottom: 80px;
  }

  &__capture {
    max-width: 560px;
  }

  &__desc {
    max-width: 528px;
  }
}