/*===================================================
 footer.scss
 フッターの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

.footer {
  background-color: $c-green;
  
  &__wrapper {
    max-width: 400px;
    padding: 40px 0;
    margin: 0 auto;

    @include mq(tab) {
      padding: 40px 48px;
    }

    @include mq(sp) {
      padding: 40px 16px;
    }
  }

  &__logo {
    width: 178px;
    height: 60px;
    margin: 0 auto 40px auto;
  }

  & .custom-logo {
    filter: brightness(0) saturate(100%) invert(93%) sepia(43%) saturate(1725%) hue-rotate(256deg) brightness(137%) contrast(131%);
  }

  &__nav {
    margin-bottom: 32px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    & a {
      display: inline-block;
      color: $c-white;
      position: relative;
      padding-left: 24px;
      font-size: $f-small;
      font-weight: 600;
      transition: 0.3s;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 16px;
        height: 1px;
        background-color: $c-white;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
  

  &__address {
    margin-bottom: 24px;
  }

  &__address-text {
    margin-bottom: 8px;
    color: $c-white;
  }

  &__business-hours {
    margin-bottom: 40px;
  }

  &__bh-label {
    color: $c-white;
    font-weight: 600;
  }

  &__bh-text {
    color: $c-white;
  }
  
  // ##### SNS #####
  &__sns {
    display: flex;
    justify-content: center;
    gap: 0 32px;
    margin-bottom: 32px;
  }

  &__sns-icon {
    width: 40px;
    height: 40px;
    background-color: $c-accent;
    border-radius: 50px;
    position: relative;

    & a {
      position: absolute;
      top: 50%;
      left: 53%;
      transform: translate(-50%, -50%);
    }
  }

  &__copyright {
    text-align: center;
    color: $c-white;
  }
}