/*===================================================
 footer.scss
 フッターの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

.footer {
  background-color: $c-green;
  
  &__wrapper {
    max-width: 400px;
    padding: 40px 0;
    margin: 0 auto;

    @include mq(tab) {
      padding: 40px 48px;
    }

    @include mq(sp) {
      padding: 40px 16px;
    }
  }

  &__logo {
    width: 178px;
    height: 60px;
    margin: 0 auto 40px auto;
  }

  &__address {
    margin-bottom: 24px;
  }

  &__address-text {
    margin-bottom: 8px;
    color: $c-white;
  }

  &__business-hours {
    margin-bottom: 40px;
  }

  &__bh-label {
    color: $c-white;
    font-weight: 600;
  }

  &__bh-text {
    color: $c-white;
  }
  
  &__sns {
    display: flex;
    justify-content: center;
    gap: 0 32px;
    margin-bottom: 32px;
  }

  &__sns-icon {
    padding: 12px;
    background-color: $c-accent;
    border-radius: 50px;
  }

  &__icon {
    width: 18px;
    height: 18px;
  }

  &__copyright {
    text-align: center;
    color: $c-white;
  }
}