/*===================================================
 base.scss
 ベースCSSの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  box-sizing: border-box;
  background-color: $c-base;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: block;
}

p {
  font-size: $f-default;
  color: $c-font-black;
}

ol {
  margin: 0;
}

.contents {
  &--col {
    @include InnerWidth;
    display: flex;
    gap: 64px;

    @include mq(tab) {
      flex-wrap: wrap;
      gap: 48px;
    }
  }

  &--article {
    max-width: 768px;
  }

  & .contents-title {
    justify-content: center;
    margin-bottom: 32px;
  }

  .desc {
    @include InnerWidth;
  }

  @include maxWidth;
  padding: 80px 0;

  @include mq(tab) {
    padding: 64px 32px;
  }

  @include mq(sp) {
    padding: 64px 16px 64px 16px;
  }
}

.contents-top {
  padding-top: 64px;
}
