/*===================================================
 blog.scss
 ブログページ・パーツの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

/* --------------------------------------------------
 ブログリストの定義 index.html / blog.html
-------------------------------------------------- */
.blog-list {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;

  &--slide {
    padding: 0 40px;
  }

  @include mq(tab) {
    gap: 32px;
    padding: 0 24px;
    margin: 0;
  }
}

/* --------------------------------------------------
 ブログ一覧リストの定義
-------------------------------------------------- */
.top-blog {
  &__wrapper {
    margin-bottom: 64px;
    padding: 0 40px;

    @include mq(tab) {
      padding: 0;
    }
  }
}

/* --------------------------------------------------
 ブログページの定義
-------------------------------------------------- */
.blog {
  &__wrapper {
    margin-bottom: 64px;

    @include mq(tab) {
      padding: 0;
    }
  }

  .blog-list {
    margin-top: 0;
    flex-wrap: wrap;

    @include mq(tab) {
      padding: 0;
    }
  }

  .blog-card {
    margin-bottom: 0;
    margin-right: 0;

    @include mq(tab) {
      width: calc(100% / 2 - 16px);
    }

    @include mq(sp) {
      width: 100%;
    }
  }
}
