/*===================================================
 blog.scss
 ブログページ・パーツの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

/* --------------------------------------------------
 ブログリストの定義 index.html / blog.html
-------------------------------------------------- */
.blog-list {
  display: flex;
  gap: 40px;
  margin-bottom: 32px;

  &--slide {
    padding: 0 40px;
    margin-bottom: 0;
  }

  @include mq(tab) {
    gap: 32px;
    padding: 0 24px;
  }
}

/* --------------------------------------------------
 記事件数の定義
-------------------------------------------------- */
.blog-number {
  display: flex;
  padding-bottom: 8px;
  border-bottom: 1px solid $c_border;
  margin-bottom: 32px;

  @include mq(sp) {
    flex-wrap: wrap;
    gap: 8px;
  }

  &__label {
    font-weight: 600;
    font-size: $f-medium;
  }

  &__box {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    gap: 16px;

    @include mq(sp) {
      width: 100%;
    }
  }

  &__items {
    &--value {
      font-weight: 600;
      font-size: $f-medium;
      margin: 0 8px;
    }
  }
}

/* --------------------------------------------------
 ブログ一覧リストの定義
-------------------------------------------------- */
.top-blog {
  &__wrapper {
    margin-bottom: 32px;
    padding: 0 40px;

    @include mq(tab) {
      padding: 0;
    }
  }
}

/* --------------------------------------------------
 ブログページの定義
-------------------------------------------------- */
.blog {
  width: 100%;
  &__wrapper {
    width: 712px;
    margin:0 64px 64px 0;

    @include mq(tab) {
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }

  .blog-list {
    width: 100%;
    margin-top: 0;
    flex-wrap: wrap;

    @include mq(tab) {
      padding: 0;
    }
  }

  .blog-card {
    margin-bottom: 0;
    margin-right: 0;

    @include mq(tab) {
      width: calc(100% / 2 - 16px);
    }

    @include mq(sp) {
      width: 100%;
    }
  }
}
