/*===================================================
 mitake.scss
 御岳ページの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

/* --------------------------------------------------
 mitakeコンテンツの定義
-------------------------------------------------- */
.mitake {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin-bottom: 80px;

    @include mq(sp) {
      flex-direction: column;
      margin-bottom: 48px;

      &--row-reverse {
        flex-direction: row-reverse;
      }
    }
  }

  &__figure {
    width: 480px;

    @include mq(sp) {
      margin-bottom: 16px;
    }
  }

  @include mq(tab) {
    &__wrapper {
      flex-wrap: wrap;
      gap: 32px;
      margin-bottom: 48px;

      &--row-reverse {
        flex-direction: column-reverse;
      }
    }

    &__figure {
      width: 100%;
    }

    .desc {
      width: 100%;
      margin-bottom: 64px;
    }
  }

}

/* --------------------------------------------------
 御嶽紹介 コンテンツの定義
-------------------------------------------------- */
.mitake-contents {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(tab) {
    margin-bottom: 64px;
  } 

  & .desc {
    margin-bottom: 32px;
  }

  &__box {
    margin-bottom: 64px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* --------------------------------------------------
 御岳渓谷 
-------------------------------------------------- */
.mitake-valley {
  @include InnerWidth;

  &__figure {
    position: relative;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $c_white;
    font-size: $f-large;
    width: 100%;
    text-align: center;
    padding: 0 32px;
    font-family: $font-source-serif;
    font-weight: 600;
  }
}

/* --------------------------------------------------
 御岳山 コンテンツの定義
-------------------------------------------------- */
.mt-mitake {
  &__text {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__box {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq(tab) {
      margin-bottom: 64px;
    }

    @include mq(sp) {
      margin-bottom: 48px;
    }
  }
}

/* --------------------------------------------------
 カラムアイテムの定義
-------------------------------------------------- */
.mitake-col {
  @include InnerWidth;
  display: flex;
  gap: 0 64px;

  &--row-reverse {
    flex-direction: row-reverse;
  }

  @include mq(tab) {
    flex-direction: column;

    &--row-reverse {
      flex-direction: row-reverse;

      @include mq(tab) {
        flex-direction: column;
      }
    }
  }

  &__figure {
    flex: 1;

    @include mq(tab) {
      margin-bottom: 24px;
    }
  }

  & .desc {
    flex: 1;
    margin-bottom: 0;

    @include mq(tab) {
      width: 100%;
    }
  }

  & .text-link {
    display: inline-block;
    margin: 0 8px 12px;
  }

  & .desc-card {
    margin-bottom: 24px;
  }
}