/*===================================================
 page.scss
 固定ページパーツのデザイン定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

.page-main {

  /* --------------------------------------------------
 見出し
-------------------------------------------------- */
  & h2 {
    font-size: $contents-title;
    padding: 12px;
    border-top: 1px solid $c-border;
    border-bottom: 1px solid $c-border;
    position: relative;
    margin: 56px 0 32px 0;
    color: $c-accent;

    &:first-child {
      margin-top: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $c-border;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $c-border;
    }
  }

  & h3 {
    font-size: $f-large;
    padding: 0 0 8px 8px;
    border-bottom: 1px solid $c-border;
    margin-bottom: 32px;
    color: $c-accent;
  }

  & h4 {
    font-size: $f-default;
    position: relative;
    padding-left: 8px;
    margin-bottom: 24px;
    color: $c-accent;
    border-left: 4px solid $c-accent;
  }

  & h5 {
    font-size: $f-default;
    color: $c-accent;
  }

  /* --------------------------------------------------
 テキスト / 引用
-------------------------------------------------- */
  & p {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & blockquote {
    border-left: 2px solid $c-border;
    padding-left: 8px;
    margin-bottom: 24px;
  }

  & a {
    position: relative;
    color: $c-accent;
    display: inline-block;
    transition: 0.3s;
    border-bottom: 1px solid $c-accent;
    margin-bottom: 8px;

    &:hover {
      opacity: 0.6;
    }
  }

  & .pdf-link {

    & a {
      position: relative;
      padding-right: 24px;
      color: $c-accent;
      transition: 0.3s;
      display: inline-block;

      &::before {
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        top: 25%;
        right: 0;
        background-image: url("../../../assets/images/icon/ico_pdf.svg");
        background-repeat: no-repeat;
      }

      &:hover {
        opacity: 0.6;
      }

      &:hover::before {
        opacity: 0.6;
      }
    }
  }

  & .external-link {
    & a {
      position: relative;
      padding-right: 24px;
      color: $c-accent;
      transition: 0.3s;
      display: inline-block;

      &::before {
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        top: 30%;
        right: 0;
        background-image: url("../../../assets/images/icon/ico_external-link.svg");
        background-repeat: no-repeat;
        background-size: 12px;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  /* --------------------------------------------------
 テーブル / 定義リスト
-------------------------------------------------- */
  & .wp-block-table {
    margin-bottom: 32px;

    @include mq(sp) {
      overflow-x: scroll;
    }

    & table {
      width: 100%;
      -webkit-border-horizontal-spacing: 1px;
      -webkit-border-vertical-spacing: 1px;
      font-size: $f-small;

      @include mq(sp) {
        width: 800px;
        overflow-x: scroll;
      }

      & th {
        background-color: $c-main;
      }

      & tr {
        height: 48px;
        border-bottom: 1px solid $c_border;
      }

      & tbody {
        @include mq(sp) {
          overflow-x: scroll;
        }

        & th {
          width: 160px;
          background-color: $c-main;
        }

        & td {
          padding: 0 8px;

          &:first-of-type {
            width: 120px;
          }
        }
      }
    }
  }

  & .wp-element-caption {
    margin-top: 8px;
  }

  & dl {
    margin-bottom: 32px;

    & dt {
      font-weight: 600;
    }

    & dd {
      margin-bottom: 24px;
      padding-left: 16px;
      font-size: $f-small;
    }
  }

  /* --------------------------------------------------
 リスト
-------------------------------------------------- */
  & ul {
    margin-bottom: 32px;
    padding-left: 16px;

    & li {
      list-style-type: disc;
    }
  }

  & address {
    background-color: $c_main;
    padding: 16px;
    font-style: normal;
  }

  /* --------------------------------------------------
 画像 / カラム
-------------------------------------------------- */
  & .wp-block-image {}

  & .wp-block-columns {
    margin-bottom: 40px;
    display: flex;
    gap: 48px;
    align-items: center;
  }

  & .wp-block-button {
    &__link {
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      text-decoration: none;
      padding: calc(0.667em + 2px) calc(1.333em + 2px);
      font-size: 1.125em;
      padding: 16px;
      border-top: 2px solid $c-accent;
      border-bottom: 2px solid $c-accent;
      color: $c-accent;
      font-size: $f-default;
      font-family: $font-source-serif;
    }
  }

  & img.alignright{
    display: block;
    margin: 0 0 0 auto;
  }
  & img.alignleft{
    display: block;
    margin: 0 auto 0 0;
  }
  & img.aligncenter{
    display: block;
    margin: 0 auto;
  }
}