@charset "UTF-8";
/*===================================================
 style.scss
 各パーツscssの定義
================================================== */
/* --------------------------------------------------
 configファイル 
-------------------------------------------------- */
/* ===================================================
 _reset.scss
 A Modern CSS Resetの定義
 https://coliss.com/articles/build-websites/operation/css/css-reset-for-modern-browser.html
================================================== */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*===================================================
 _settings.scss
 WordPressテーマ定義用scss
================================================== */
/*
Theme Name: Cafe Mitake
Author: Yukuro
Version: 1.0
*/
/*===================================================
 _function.scss
 関数定義ファイル
================================================== */
/* //////////// 変数読み込み(割り算使用のための読み込み) //////////// */
/* --------------------------------------------------
  clamp() 文字サイズ調整の関数定義
-------------------------------------------------- */
/* --------------------------------------------------
  rem単位をpx感覚で使用する関数
-------------------------------------------------- */
/*===================================================
 _variables.scss
 共通使用変数
================================================== */
/* --------------------------------------------------
 ##### Color  #####

 Site-Color サイトカラー
-------------------------------------------------- */
/* --------------------------------------------------
 Font-Color　フォントカラー
-------------------------------------------------- */
/* --------------------------------------------------
 Border-Color　ボーダーカラー
-------------------------------------------------- */
/* --------------------------------------------------
 Border-Color　ホバーカラー
-------------------------------------------------- */
/* --------------------------------------------------
 shadow 影
-------------------------------------------------- */
/* --------------------------------------------------
 Other　その他カラー
-------------------------------------------------- */
/* --------------------------------------------------
 ##### Font #####

 Font-Family 游ゴシック
-------------------------------------------------- */
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.1rem;
}

/* ##### 游明朝体フォント ##### */
/* --------------------------------------------------
 Heading-size 見出しフォントサイズ
-------------------------------------------------- */
/* --------------------------------------------------
 base-size 基本フォントサイズ
-------------------------------------------------- */
/*===================================================
 _mq.scss
 メディアクエリ定義
================================================== */
/* ⬇︎ PC / SP指定の非表示 ====================== */
@media screen and (min-width: 1025px) {
  .is-pc {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .is-tab {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-sp {
    display: none;
  }
}

/* --------------------------------------------------
 mixinファイル 
-------------------------------------------------- */
/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 mixin.scss
 mixin要素の定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 最大コンテンツ画面幅の定義
-------------------------------------------------- */
/* --------------------------------------------------
 テキスト最大画面幅の定義
-------------------------------------------------- */
/* --------------------------------------------------
 テキストリンク 矢印の定義
-------------------------------------------------- */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 アニメーションの全体的なデフォルト値を設定
-------------------------------------------------- */
/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* --------------------------------------------------
 mixinファイル 
-------------------------------------------------- */
/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 keyframe.scss
 Keyframeの関数定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 moduleファイル 
-------------------------------------------------- */
/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 heading.scss
 見出しの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 キャプチャ用見出しの定義
-------------------------------------------------- */
.visual-heading {
  position: absolute;
  top: 50%;
  padding-left: 192px;
}
.visual-heading--article {
  top: 40%;
}
@media screen and (max-width: 1024px) {
  .visual-heading--article {
    top: 40%;
  }
}
@media screen and (max-width: 767px) {
  .visual-heading {
    padding-left: 104px;
  }
}
.visual-heading__text {
  display: block;
  color: #FBFFF7;
}
.visual-heading__text::before {
  content: "";
  width: 160px;
  height: 1.5px;
  background-color: #FBFFF7;
  position: absolute;
  top: 26px;
  left: 0;
}
@media screen and (max-width: 767px) {
  .visual-heading__text::before {
    width: 80px;
  }
}
.visual-heading__text--main {
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  font-family: YuMincho, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
.visual-heading__text--sub {
  font-size: 1.125rem;
}

/* --------------------------------------------------
 キャプチャ背景なし見出しの定義
-------------------------------------------------- */
.section-heading {
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .section-heading {
    margin-bottom: 32px;
  }
}
.section-heading__text {
  display: block;
  color: #4A5733;
  padding-left: 192px;
}
@media screen and (max-width: 767px) {
  .section-heading__text {
    padding-left: 104px;
  }
}
.section-heading__text--main {
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  font-family: YuMincho, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  position: relative;
}
.section-heading__text--main::before {
  content: "";
  width: 160px;
  height: 1.5px;
  background-color: #4A5733;
  position: absolute;
  top: 26px;
  left: 0;
}
@media screen and (max-width: 767px) {
  .section-heading__text--main::before {
    width: 80px;
  }
}
.section-heading__text--sub {
  font-size: 1.125rem;
}

/* --------------------------------------------------
 コンテンツラベルの定義
-------------------------------------------------- */
.label {
  font-family: YuMincho, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 32px;
  text-align: center;
  color: #4A5733;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .label {
    margin-bottom: 32px;
  }
}
.label--menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .label--menu {
    position: static;
    transform: none;
    margin-bottom: 24px;
  }
}

/* --------------------------------------------------
 タイトルラベルの定義
-------------------------------------------------- */
.title-label {
  position: relative;
  padding-left: 136px;
  font-size: 1.25rem;
  font-family: YuMincho, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 300;
  color: #4A5733;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .title-label {
    padding-left: 64px;
    margin-bottom: 24px;
  }
}
.title-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 112px;
  height: 1px;
  background-color: #AAA;
}
@media screen and (max-width: 767px) {
  .title-label::before {
    width: 48px;
  }
}
.title-label__sub {
  font-size: 1rem;
  margin-left: 16px;
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 button.scss
 ボタンの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 Primary-buttonの定義
-------------------------------------------------- */
.primary-btn {
  width: 240px;
  height: 56px;
  margin: 0 auto;
  background-color: #4A5733;
}
.primary-btn__link {
  width: 100%;
  height: 100%;
  padding: 16px 0;
  color: #FBFFF7;
  text-align: center;
  transition: 0.5s;
}
.primary-btn__link:hover {
  color: #4A5733;
}
.primary-btn:hover {
  border: solid 1px #4A5733;
  background-color: #FBFFF7;
}

/* --------------------------------------------------
 お問い合わせフォームボタンのスタイリング
-------------------------------------------------- */
.form-btn {
  width: 240px;
  height: 56px;
  background-color: #4A5733;
  cursor: pointer;
  color: #FBFFF7;
  border: none;
  transition: 0.5s;
}
.form-btn:hover {
  color: #4A5733;
  border: solid 1px #4A5733;
  background-color: #FBFFF7;
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 link.scss
 リンクテキストの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
.link {
  font-size: 0.875rem;
  text-align: right;
}
.link--mitake {
  text-align: left;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .link--mitake {
    flex-direction: column;
  }
}
.link__text {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  color: #3A3E33;
  outline: none;
  margin-right: 40px;
  font-weight: 600;
}
.link__text::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 15%;
  width: 85%;
  height: 1px;
  background: #3A3E33;
  transition: all 0.3s;
}
.link__text::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 15px;
  height: 1px;
  background-color: #3A3E33;
  transform: rotate(35deg);
  transition: all 0.3s;
}
.link__text:hover {
  color: #AAA;
}
.link__text:hover::before {
  left: 20%;
}
.link__text:hover::after {
  right: -5%;
}
.link__text--mitake {
  padding: 0;
}
@media screen and (max-width: 767px) {
  .link__text--mitake {
    margin-bottom: 16px;
  }
  .link__text--mitake:last-child {
    margin-bottom: 0;
  }
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 pagination.scss
 ページネーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
.pagination__list {
  display: flex;
  justify-content: center;
}
.pagination__link, .pagination .pagination__item--prev, .pagination .pagination__item--active {
  padding: 12px 20px;
  border: 1px solid #AAA;
}
@media screen and (max-width: 767px) {
  .pagination__link, .pagination .pagination__item--prev, .pagination .pagination__item--active {
    padding: 6px 14px;
  }
}
.pagination__item--prev {
  color: #AAA;
}
.pagination__item--active {
  background-color: #4A5733;
  color: #FBFFF7;
}
.pagination__link {
  color: #4A5733;
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 tab.scss
 タブメニューの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 タブメニューのスタイリング
-------------------------------------------------- */
.tab-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.tab-menu__item {
  flex-grow: 1;
  padding-bottom: 4px;
  list-style: none;
  border-bottom: solid 1px #AAA;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
}
.tab-menu__icon {
  width: 18px;
  height: 18px;
  margin-right: 16px;
  filter: invert(69%) sepia(4%) saturate(6%) hue-rotate(353deg) brightness(99%) contrast(89%);
}
@media screen and (max-width: 767px) {
  .tab-menu__icon {
    margin-right: 8px;
  }
}
.tab-menu .is-active {
  color: #4A5733;
  font-weight: 600;
  transition: all 0.2s ease-out;
  border-bottom: 2px solid #4A5733;
  filter: invert(28%) sepia(51%) saturate(324%) hue-rotate(40deg) brightness(96%) contrast(90%);
}
.tab-menu .is-active-mitake {
  color: #4A5733;
  font-weight: 600;
  transition: all 0.2s ease-out;
  border-bottom: 2px solid #4A5733;
  filter: invert(28%) sepia(51%) saturate(324%) hue-rotate(40deg) brightness(96%) contrast(90%);
}

/* --------------------------------------------------
 mixinファイル 
-------------------------------------------------- */
/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 catch-copy.scss
 ビジュアルキャッチコピーの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
.catch-copy {
  max-width: 1152px;
  margin: 0 auto;
  height: 70%;
  position: relative;
}
.catch-copy__catch-text {
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
  font-family: YuMincho, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #FBFFF7;
  position: absolute;
  top: 50%;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .catch-copy__catch-text {
    padding: 0 32px;
  }
}
@media screen and (max-width: 767px) {
  .catch-copy__catch-text {
    padding: 0 16px;
  }
}
.catch-copy__text-top {
  display: block;
  margin-right: 256px;
}
@media screen and (max-width: 1024px) {
  .catch-copy__text-top {
    margin-right: 112px;
  }
}
@media screen and (max-width: 767px) {
  .catch-copy__text-top {
    margin-right: 48px;
  }
}
.catch-copy__text-bottom {
  text-align: right;
  display: block;
}
.catch-copy .js-textanime span {
  opacity: 0;
}
.catch-copy .js-textanime.appeartext span {
  animation: text_anime_on 1.5s ease-out forwards;
}
@keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 slider.scss
 カルーセルスライダーの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 スライドパーツ カスタマイズ
-------------------------------------------------- */
.slick-next {
  right: 0 !important;
}
.slick-next::before {
  color: #4A5733 !important;
}

.slick-prev {
  left: 0 !important;
}
.slick-prev::before {
  color: #4A5733 !important;
}

.slick-arrow {
  z-index: 2 !important;
}

/* --------------------------------------------------
 mixinファイル 
-------------------------------------------------- */
/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 desc-card.scss
 トップページのスタイリング
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 index.html / mitake.html テキストボックスの定義
-------------------------------------------------- */
.desc-card {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .desc-card {
    flex-direction: column;
  }
}
.desc-card__item {
  padding: 8px;
  background-color: #EDEFEA;
  margin-right: 16px;
  position: relative;
}
.desc-card__item:nth-child(n+2)::before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #AAA;
  position: absolute;
  top: 50%;
  left: -16px;
}
@media screen and (max-width: 1024px) {
  .desc-card__item {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
  }
  .desc-card__item:nth-child(n+2)::before {
    content: "";
    width: 2px;
    height: 16px;
    background-color: #AAA;
    position: absolute;
    top: -16px;
    left: 50%;
  }
}
.desc-card__text {
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 600;
}
.desc-card__text--f-small {
  font-size: 0.875rem;
  font-weight: 300;
}
.desc-card__text--single-text {
  line-height: 56px;
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 contact.scss
 お問い合わせのスタイリング
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 入力フォームのスタイリング
-------------------------------------------------- */
.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.form__item:last-child {
  margin-bottom: 24px;
}
.form__label {
  display: flex;
  margin-bottom: 8px;
}
.form__required-text {
  margin-left: 16px;
  font-size: 0.75rem;
  padding: 2px 8px;
  line-height: 2;
  background-color: #F24343;
  color: #FBFFF7;
}
.form input[type=text] {
  padding: 16px;
  font-size: 0.875rem;
  border: 1px solid #AAA;
  background-color: inherit;
}
.form textarea {
  padding: 16px;
  font-size: 0.875rem;
  border: 1px solid #AAA;
  background-color: inherit;
}
.form__check-item {
  text-align: center;
  margin-bottom: 32px;
}
.form__btn {
  text-align: center;
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 pkz.scss
 パンくずリストの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
.pkz {
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .pkz {
    margin-bottom: 24px;
  }
}
.pkz__list {
  display: flex;
  align-items: center;
  padding-left: 0;
}
@media screen and (max-width: 1024px) {
  .pkz__list {
    overflow-x: scroll;
    word-break: keep-all;
    white-space: nowrap;
    padding-bottom: 4px;
  }
  .pkz__list::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }
  .pkz__list::-webkit-scrollbar-track {
    border: 1px solid #AAA;
    border-radius: 8px;
  }
  .pkz__list::-webkit-scrollbar-thumb {
    background: #AAA;
    border-radius: 8px;
  }
}
.pkz__item {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}
.pkz__item::after {
  content: ">";
  display: inline-block;
  padding: 0 24px;
}
@media screen and (max-width: 767px) {
  .pkz__item::after {
    padding: 0 16px;
  }
}
.pkz__item:last-child::after {
  content: none;
}
.pkz__link {
  color: #4A5733;
  border-bottom: 1px solid #AAA;
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 prev-next.scss
 前後記事パーツのデザイン
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
.prev-next {
  margin-bottom: 64px;
}
@media screen and (max-width: 1024px) {
  .prev-next {
    margin-bottom: 48px;
  }
}
.prev-next__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  color: #3A3E33;
}
.prev-next__item--next {
  flex-direction: row-reverse;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .prev-next__item {
    flex-direction: column;
  }
}
.prev-next__inner {
  display: flex;
  align-items: center;
}
.prev-next__inner--next {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .prev-next__inner--next {
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .prev-next__inner {
    justify-content: space-between;
  }
}
.prev-next__arrow-icon {
  width: 14px;
  height: 24px;
  margin-right: 24px;
}
.prev-next__arrow-icon--next {
  transform: rotate(180deg);
}
@media screen and (max-width: 767px) {
  .prev-next__arrow-icon--next {
    margin-left: 24px;
  }
}
@media screen and (max-width: 767px) {
  .prev-next__arrow-icon {
    margin-right: 24px;
  }
}
.prev-next__thumb {
  width: 264px;
  height: 162px;
  margin-right: 32px;
}
@media screen and (max-width: 767px) {
  .prev-next__thumb {
    margin-right: 0;
  }
}
.prev-next__title {
  width: 424px;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  .prev-next__title {
    width: 100%;
  }
}
.prev-next__title-text {
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .prev-next__title-text {
    margin-bottom: 0;
  }
}
.prev-next__time {
  font-size: 0.875rem;
}
@media screen and (max-width: 767px) {
  .prev-next__time {
    font-size: 0.75rem;
  }
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 fade.scss
 フェードインアニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 commonファイル
-------------------------------------------------- */
/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 header.scss
 ヘッダーの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 ヘッダーの指定
-------------------------------------------------- */
.header {
  position: absolute;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__inner {
  width: 1152px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header__inner {
    padding: 0 32px;
  }
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding: 16px 16px 0 16px;
    flex-direction: column;
  }
}
.header__logo-link {
  z-index: 1;
}
.header .dnone {
  opacity: 0; /*透過0にして非表示に*/
}
.header .dnone .panelactive {
  opacity: 1; /*不透明にして出現*/
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 footer.scss
 フッターの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
.footer {
  background-color: #EDEFEA;
}
.footer__wrapper {
  max-width: 400px;
  padding: 40px 0;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .footer__wrapper {
    padding: 0 48px;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrapper {
    padding: 40px 16px;
  }
}
.footer__logo {
  width: 178px;
  height: 60px;
  margin: 0 auto 40px auto;
}
.footer__address {
  margin-bottom: 24px;
}
.footer__address-text {
  margin-bottom: 8px;
}
.footer__business-hours {
  margin-bottom: 40px;
}
.footer__bh-label {
  font-weight: 600;
}
.footer__sns {
  display: flex;
  justify-content: center;
  gap: 0 32px;
  margin-bottom: 32px;
}
.footer__sns-icon {
  width: 32px;
  height: 32px;
}
.footer__copyright {
  text-align: center;
  color: #3A3E33;
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 nav.scss
 ナビゲーションメニューの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 visual-navの指定
-------------------------------------------------- */
.nav {
  z-index: 1;
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__menu {
  margin-right: 64px;
}
.nav__menu:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1024px) {
  .nav__menu {
    margin-right: 48px;
  }
}
@media screen and (max-width: 767px) {
  .nav__menu {
    margin-right: 16px;
  }
}
.nav__link {
  font-family: YuMincho, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 600;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  color: #FBFFF7;
}
@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 0.75rem;
  }
}

.sns__list {
  display: flex;
}
.sns__item {
  margin-right: 32px;
}
.sns__item:last-child {
  margin-right: 0;
}
.sns__icon {
  width: 24px;
  height: 24px;
}

.nav ul li.current a,
.nav ul li a:hover {
  color: #fff;
}

/*.doneクラスがついたヘッダーのテキストナビゲーションの形状*/
.header.dnone .nav {
  /*固定位置にして最背面に*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /*高さと幅*/
  width: 100%;
  height: 100vh;
  /*天地中央＆テキスト中央揃え*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*はじめは透過0に*/
  opacity: 0;
  transition: all 0.4s;
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたナビゲーションの形状*/
.header.dnone.panelactive .nav {
  opacity: 1; /*不透明に*/
  z-index: 3; /*最前面に*/
  background: #FDFFFC;
}

.header.dnone.panelactive .nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header.dnone.panelactive .nav ul li {
  margin-bottom: 48px;
}
.header.dnone.panelactive .nav ul li:last-child {
  margin-bottom: 0;
}

/*リストの形状*/
.header.dnone.panelactive .nav li a {
  font-size: 0.875rem;
  color: #4A5733;
  font-weight: bold;
  transition: all 0.3s;
}

.is-open {
  z-index: 10000;
  /*はじめは非表示に*/
  display: none;
  /*ボタンの位置*/
  position: fixed;
  top: 10px;
  right: 64px;
  z-index: 999;
  /*ボタンの形状*/
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
@media screen and (max-width: 1024px) {
  .is-open {
    background-color: #4A5733;
    right: 32px;
  }
}
@media screen and (max-width: 767px) {
  .is-open {
    background-color: #4A5733;
    right: 16px;
  }
}

/*ボタンのアイコン設定*/
.is-open__border {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 11px;
  height: 3px;
  border-radius: 2px;
  background-color: #4A5733;
  width: 55%;
}
.is-open__border:nth-of-type(1) {
  top: 10px;
}
.is-open__border:nth-of-type(2) {
  top: 18px;
}
.is-open__border:nth-of-type(3) {
  top: 26px;
}
@media screen and (max-width: 1024px) {
  .is-open__border {
    background-color: #FBFFF7;
  }
}
.is-open__text {
  position: absolute;
  top: 28px;
  left: 15%;
  font-size: 0.75rem;
  color: #4A5733;
}
@media screen and (max-width: 1024px) {
  .is-open__text {
    color: #FBFFF7;
  }
}

/*activeクラスが付与された後のボタンのアイコン設定*/
.is-open.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
@media screen and (max-width: 1024px) {
  .is-open.active span:nth-of-type(1) {
    top: 10px;
  }
}

.is-open.active span:nth-of-type(2) {
  opacity: 0;
}

.is-open.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
@media screen and (max-width: 1024px) {
  .is-open.active span:nth-of-type(3) {
    top: 22px;
  }
}

/*fadeDownクラスが付与された後のボタンの出現アニメーション設定*/
.fadeDown {
  animation-name: fadeDownAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: block;
}

@keyframes fadeDownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 visual-capture.scss
 ページキャプチャの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 トップページキャプチャの定義
-------------------------------------------------- */
.visual-capture {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/img/img_hero-capture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.visual-capture--menu {
  background-image: url("../../images/img/img_menu-capture.jpg");
}
.visual-capture--mitake {
  background-image: url("../../images/img/img_mitake-capture.jpg");
}
.visual-capture--blog {
  background-image: url("../../images/img/img_blog-capture.jpg");
}
.visual-capture--article {
  background-image: url("../../images/img/img_blog-capture.jpg");
  height: 320px;
}

/* --------------------------------------------------
 ビジュアルスクロール固定の定義
-------------------------------------------------- */
.visual-fixed {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}
.visual-fixed__inner {
  max-width: 1152px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .visual-fixed__inner {
    padding: 0 32px;
  }
}
@media screen and (max-width: 767px) {
  .visual-fixed__inner {
    padding: 0 16px;
  }
}
.visual-fixed--about {
  background-image: url("../../images/img/img_about-capture.jpg");
}
.visual-fixed--menu {
  background-image: url("../../images/img/img_menu-capture.jpg");
}
.visual-fixed--mitake {
  background-image: url("../../images/img/img_mitake-capture.jpg");
}
.visual-fixed--blog {
  background-image: url("../../images/img/img_blog-capture.jpg");
}

.visual-title {
  max-width: 1152px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .visual-title {
    padding: 0 32px;
  }
}
@media screen and (max-width: 767px) {
  .visual-title {
    padding: 0 16px;
  }
}

/* --------------------------------------------------
 pageファイル
-------------------------------------------------- */
/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 base.scss
 ベースCSSの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
body {
  width: 100%;
  box-sizing: border-box;
  background-color: #FDFFFC;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

p {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  color: #3A3E33;
}

ol {
  margin: 0;
}

.container {
  position: relative;
}
.container__wrapper {
  position: relative;
}

.contents {
  max-width: 1152px;
  margin: 0 auto;
  padding: 80px 0;
}
@media screen and (max-width: 1024px) {
  .contents {
    padding: 64px 32px;
  }
}
@media screen and (max-width: 767px) {
  .contents {
    padding: 48px 16px;
  }
}
.contents--padding-bt {
  padding-bottom: 60px;
}
.contents--padding {
  padding: 60px 0;
}
@media screen and (max-width: 1024px) {
  .contents--padding {
    padding: 48px 16px;
  }
}
.contents__wrapper {
  max-width: 768px;
  margin: 0 auto;
}

/* --------------------------------------------------
 mixinファイル 
-------------------------------------------------- */
/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 top.scss
 トップページのスタイリング
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 aboutコンテンツの定義
-------------------------------------------------- */
.about {
  display: flex;
  align-items: center;
  gap: 0 64px;
}
@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
  }
}
.about__capture {
  flex: 1;
}
@media screen and (max-width: 767px) {
  .about__capture {
    margin-bottom: 24px;
  }
}
.about__desc {
  flex: 1;
}
.about__desc-text {
  margin-bottom: 32px;
}
.about__desc-text:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .about__desc-text {
    margin-bottom: 24px;
  }
}
.about__desc-list {
  margin-bottom: 32px;
}
.about__desc-item {
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .about__desc-item {
    margin-bottom: 16px;
  }
}

/* --------------------------------------------------
 menuコンテンツの定義
-------------------------------------------------- */
.menu-top__wrapper {
  margin-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  .menu-top__wrapper {
    margin-bottom: 64px;
  }
}
.menu-top__column {
  display: flex;
  align-items: center;
  gap: 0 64px;
}
@media screen and (max-width: 1024px) {
  .menu-top__column {
    gap: 0 48px;
  }
}
@media screen and (max-width: 767px) {
  .menu-top__column {
    flex-direction: column;
  }
}
.menu-top__capture {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .menu-top__capture {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .menu-top__capture {
    width: 95%;
  }
}
.menu-top__capture--position {
  top: -12px;
  box-shadow: 5px 5px 6px rgba(65, 65, 65, 0.2);
}
@media screen and (max-width: 767px) {
  .menu-top__capture--position {
    width: 70%;
    margin-right: auto;
  }
}
.menu-top__label {
  flex: 1;
  position: relative;
}
@media screen and (max-width: 767px) {
  .menu-top__label {
    position: static;
  }
}
.menu-top__desc {
  width: 528px;
}
@media screen and (max-width: 1024px) {
  .menu-top__desc {
    width: 100%;
  }
}

/* --------------------------------------------------
 Accessコンテンツの定義
-------------------------------------------------- */
.access {
  display: flex;
  gap: 0 64px;
}
@media screen and (max-width: 1024px) {
  .access {
    flex-direction: column-reverse;
  }
}
.access__googlemap {
  width: 560px;
  height: 437px;
}
@media screen and (max-width: 1024px) {
  .access__googlemap {
    width: 100%;
    margin-bottom: 32px;
  }
}
.access__shopname {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .access__shopname {
    font-size: 1rem;
  }
}
.access__address {
  margin-bottom: 16px;
}
.access__shopdesc {
  margin-bottom: 16px;
}
@media screen and (max-width: 1024px) {
  .access__shopdesc {
    margin-bottom: 16px;
  }
}
.access__business-hours {
  font-weight: 600;
}
.access__traffic {
  margin-bottom: 16px;
}
.access__traffic-label {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  font-weight: 600;
  margin-bottom: 8px;
}

/* --------------------------------------------------
 Contactコンテンツの定義
-------------------------------------------------- */
.contact {
  max-width: 768px;
  margin: 0 auto;
}
.contact__desc {
  margin-bottom: 56px;
}
.contact__tel {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  font-weight: 600;
  margin-bottom: 8px;
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 menu.scss
 メニューコンテンツの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 メニュー内容の定義
-------------------------------------------------- */
.menu-contents__panel {
  display: none;
}
.menu-contents .is-show {
  display: block;
  animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-contents__desc {
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.menu-list {
  display: flex;
  gap: 80px 80px;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .menu-list {
    gap: normal;
    flex-direction: column;
  }
}
.menu-list--mb {
  margin-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  .menu-list--mb {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 767px) {
  .menu-list--mb {
    margin-bottom: 48px;
  }
}
.menu-list--mb:last-child {
  margin-bottom: 0;
}
.menu-list__item {
  width: calc(50% - 40px);
}
@media screen and (max-width: 767px) {
  .menu-list__item {
    width: 100%;
    margin-bottom: 48px;
  }
  .menu-list__item:last-child {
    margin-bottom: 0;
  }
}
.menu-list__capture {
  width: 440px;
  margin-left: auto;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .menu-list__capture {
    width: 100%;
  }
}
.menu-list__name-price {
  display: flex;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  margin-top: 16px;
}
@media screen and (max-width: 1024px) {
  .menu-list__name-price {
    flex-wrap: wrap;
  }
}
.menu-list__name-price--drink {
  flex-direction: column;
  flex-wrap: nowrap;
}
.menu-list__name {
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .menu-list__name {
    width: 100%;
  }
}
.menu-list__name--drink {
  font-weight: 300;
}
.menu-list__price {
  width: 72px;
  text-align: right;
  margin-left: auto;
}
.menu-list__desc {
  font-size: 0.875rem;
}
.menu-list__drink-price {
  display: flex;
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 mitake.scss
 御岳ページの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 mitakeコンテンツの定義
-------------------------------------------------- */
.mitake__wrapper {
  display: flex;
  align-items: center;
  gap: 0px 64px;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .mitake__wrapper {
    flex-direction: column;
    margin-bottom: 48px;
  }
  .mitake__wrapper--col-reverse {
    flex-direction: column-reverse;
  }
}
.mitake__capture {
  max-width: 560px;
}
@media screen and (max-width: 767px) {
  .mitake__capture {
    margin-bottom: 16px;
  }
}
.mitake__desc {
  max-width: 528px;
}

/* --------------------------------------------------
 御嶽渓谷 コンテンツの定義
-------------------------------------------------- */
.mitake-valley__desc {
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 64px;
}
.mitake-valley__text {
  margin-bottom: 8px;
}
.mitake-valley__capture {
  display: none;
  position: relative;
}
.mitake-valley .is-show-mitake {
  display: block;
  animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.mitake-valley__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FBFFF7;
  font-size: 1.25rem;
  font-family: YuMincho, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
@media screen and (max-width: 767px) {
  .mitake-valley__caption {
    font-size: 0.875rem;
  }
}

/* --------------------------------------------------
 御岳山 コンテンツの定義
-------------------------------------------------- */
.mt-mitake__desc {
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 64px;
}
.mt-mitake__text {
  margin-bottom: 8px;
}
.mt-mitake__text:last-child {
  margin-bottom: 0;
}
.mt-mitake__box {
  margin-bottom: 80px;
}
.mt-mitake__box:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .mt-mitake__box {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 767px) {
  .mt-mitake__box {
    margin-bottom: 48px;
  }
}
.mt-mitake__item {
  display: flex;
  gap: 0 64px;
}
@media screen and (max-width: 1024px) {
  .mt-mitake__item {
    flex-direction: column;
  }
}
.mt-mitake__item--row-reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1024px) {
  .mt-mitake__item--row-reverse {
    flex-direction: column;
  }
}
.mt-mitake__capture {
  flex: 1;
}
@media screen and (max-width: 1024px) {
  .mt-mitake__capture {
    margin-bottom: 24px;
  }
}
.mt-mitake__text-box {
  flex: 1;
}
.mt-mitake__label {
  font-size: 1.125rem;
  margin-bottom: 8px;
  color: #4A5733;
}
@media screen and (max-width: 1024px) {
  .mt-mitake__label {
    margin-bottom: 16px;
  }
}
.mt-mitake .desc-card {
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .mt-mitake .desc-card {
    margin-bottom: 0;
  }
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 blog.scss
 ブログページ・パーツの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 ブログ一覧リストの定義
-------------------------------------------------- */
.blog__wrapper {
  margin-bottom: 64px;
}
.blog__list {
  display: flex;
  margin-bottom: 24px;
  padding-left: 0;
}
.blog__item {
  display: flex;
  flex-direction: column;
  padding-right: 48px;
}
@media screen and (max-width: 1024px) {
  .blog__item {
    padding-right: 24px;
  }
}
.blog__desc {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
}
.blog__time {
  color: #3A3E33;
}
.blog__time-year {
  font-size: 0.875rem;
  margin-right: 8px;
}
.blog__time-date {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
}
.blog__category {
  margin-left: auto;
}
.blog__category-link {
  font-size: 0.875rem;
  color: #3A3E33;
}
.blog__thumb {
  display: inline-block;
  margin-bottom: 16px;
}
.blog__img {
  width: 384px;
  margin: 0 auto;
}
.blog__title-text {
  font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
  font-weight: 300;
  letter-spacing: 0.06rem;
  color: #3A3E33;
}

@media screen and (max-width: 767px) {
  .slick-list {
    padding: 0px 7% !important;
  }
}

/* --------------------------------------------------
 ブログリストの定義 blog.html
-------------------------------------------------- */
.blog-list__list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 48px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .blog-list__list {
    flex-wrap: wrap;
    gap: 24px 24px;
  }
}
.blog-list .blog__item {
  width: calc(33.3333333333% - 32px);
  padding-right: 0;
}
@media screen and (max-width: 1024px) {
  .blog-list .blog__item {
    width: calc(50% - 12px);
  }
}

/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/*===================================================
 article.scss
 記事内容・パーツの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/* --------------------------------------------------
 記事コンテンツパーツ
-------------------------------------------------- */
.blog-article {
  padding-bottom: 64px;
  border-bottom: 1px solid #AAA;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .blog-article {
    padding-bottom: 48px;
  }
}
.blog-article__heading {
  margin-bottom: 32px;
}
@media screen and (max-width: 1024px) {
  .blog-article__heading {
    margin-bottom: 24px;
  }
}
.blog-article__title-h1 {
  font-size: 1.25rem;
  color: #4A5733;
}
@media screen and (max-width: 1024px) {
  .blog-article__title-h1 {
    font-size: 1rem;
    letter-spacing: 0;
  }
}
.blog-article__thumb {
  margin-bottom: 40px;
}
.blog-article__title-h2 {
  margin-bottom: 32px;
  padding: 8px 0;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  position: relative;
  color: #4A5733;
  font-size: 1.25rem;
}
.blog-article__title-h2::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #AAA;
  position: absolute;
  top: 4px;
  left: 0;
}
.blog-article__title-h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #AAA;
  position: absolute;
  bottom: 4px;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .blog-article__title-h2 {
    font-size: 1rem;
    margin-bottom: 24px;
  }
}
.blog-article__text-box {
  margin-bottom: 64px;
}
@media screen and (max-width: 1024px) {
  .blog-article__text-box {
    margin-bottom: 48px;
  }
}
.blog-article__text {
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .blog-article__text {
    margin-bottom: 32px;
  }
}
.blog-article__title-h3 {
  font-size: 1.25rem;
  color: #4A5733;
  padding-bottom: 8px;
  border-bottom: 1px solid #AAA;
  margin-bottom: 32px;
}
@media screen and (max-width: 1024px) {
  .blog-article__title-h3 {
    font-size: 1rem;
  }
}
.blog-article__capture {
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .blog-article__capture {
    margin-bottom: 32px;
  }
}
.blog-article__caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.75rem;
  letter-spacing: 0;
  background-color: #B5B5B5;
  padding: 5px 0;
}
.blog-article__capture-column {
  display: flex;
  gap: 0 40px;
}
@media screen and (max-width: 1024px) {
  .blog-article__capture-column {
    gap: 0 32px;
  }
}
@media screen and (max-width: 767px) {
  .blog-article__capture-column {
    flex-direction: column;
    gap: 32px 0;
  }
}
.blog-article__column-item {
  position: relative;
  text-align: center;
}

/* --------------------------------------------------
 関連記事パーツ
-------------------------------------------------- */
.related-article__title {
  font-size: 1.25rem;
  font-family: YuMincho, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  text-align: center;
  margin-bottom: 32px;
  color: #4A5733;
}
.related-article__box {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
}
.related-article__card {
  width: calc(33.3333333333% - 16px);
  color: #3A3E33;
}
@media screen and (max-width: 1024px) {
  .related-article__card {
    width: calc(50% - 12px);
  }
}
.related-article__thumb {
  margin-bottom: 8px;
}
.related-article__label {
  font-size: 0.875rem;
  letter-spacing: 0;
}
@media screen and (max-width: 1024px) {
  .related-article__label {
    font-size: 0.75rem;
  }
}
.related-article__time {
  font-size: 0.75rem;
  letter-spacing: 0;
}/*# sourceMappingURL=style.css.map */