@charset "UTF-8";
/* ===================================================
 _reset.scss
 A Modern CSS Resetの定義
 https://coliss.com/articles/build-websites/operation/css/css-reset-for-modern-browser.html
================================================== */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*===================================================
 _settings.scss
 WordPressテーマ定義用scss
================================================== */
/*
Theme Name: Cafe Mitake
Author: Yukuro
Version: 1.0
*/
/*===================================================
 _function.scss
 関数定義ファイル
================================================== */
/* //////////// 変数読み込み(割り算使用のための読み込み) //////////// */
/* --------------------------------------------------
  clamp() 文字サイズ調整の関数定義
-------------------------------------------------- */
/*===================================================
 _variables.scss
 共通使用変数 定義ファイル
================================================== */
/* --------------------------------------------------
 ##### Color  #####

 Site-Color サイトカラー
-------------------------------------------------- */
/* --------------------------------------------------
 Font-Color　フォントカラー
-------------------------------------------------- */
/* --------------------------------------------------
 Border-Color　ボーダーカラー
-------------------------------------------------- */
/* --------------------------------------------------
 Other　その他カラー
-------------------------------------------------- */
/* --------------------------------------------------
 ##### Font #####

 Font-Family 游ゴシック
-------------------------------------------------- */
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

/* ##### 游明朝体フォント ##### */
/* --------------------------------------------------
 Heading-size 見出しフォントサイズ
-------------------------------------------------- */
/* --------------------------------------------------
 base-size 基本フォントサイズ
-------------------------------------------------- */
/*===================================================
 _mq.scss
 メディアクエリ定義
================================================== */
/* ⬇︎ PC / SP指定の非表示 ====================== */
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .is-tab {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .is-sp {
    display: none;
  }
}

/*===================================================
 mixin.scss
 mixin要素の定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/*===================================================
 animation.scss
 アニメーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/*===================================================
 heading.scss
 見出しの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
h1 {
  font-family: YuMincho, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

/*===================================================
 button.scss
 ボタンの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/*===================================================
 link.scss
 リンクテキストの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/*===================================================
 pagination.scss
 ページネーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/*===================================================
 tab.scss
 タブメニューの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/*===================================================
 header.scss
 ヘッダーの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/*===================================================
 footer.scss
 フッターの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/*===================================================
 nav.scss
 ナビゲーションメニューの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/*===================================================
 base.scss
 ベースCSSの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
/* //////////// 変数読み込み ここまで //////////// */
/*===================================================
 style.scss
 各パーツscssの定義
================================================== */
/* --------------------------------------------------
 configファイル 
-------------------------------------------------- */
/* --------------------------------------------------
 mixinファイル 
-------------------------------------------------- */
/* --------------------------------------------------
 moduleファイル 
-------------------------------------------------- */
/* --------------------------------------------------
 commonファイル
-------------------------------------------------- */
/* --------------------------------------------------
 pageファイル
-------------------------------------------------- *//*# sourceMappingURL=style.css.map */