/*===================================================
 _variables.scss
 共通使用変数 定義ファイル
================================================== */
@use "../config/function" as *;

/* --------------------------------------------------
 ##### Color  #####

 Site-Color サイトカラー
-------------------------------------------------- */ 
$c-base: #FDFFFC;
$c-main: #EDEFEA;
$c-accent: #4A5733;

/* --------------------------------------------------
 Font-Color　フォントカラー
-------------------------------------------------- */ 
$c-font-black: #3A3E33;
$c-font-white: #FBFFF7;

/* --------------------------------------------------
 Border-Color　ボーダーカラー
-------------------------------------------------- */ 
$c-border: #AAA;

/* --------------------------------------------------
 Border-Color　ホバーカラー
-------------------------------------------------- */ 
$c-hover: #AAA;

/* --------------------------------------------------
 Other　その他カラー
-------------------------------------------------- */ 
$c-note: #F24343;
$c-opacity: rgba(181,181,181,1.6);


/* --------------------------------------------------
 ##### Font #####

 Font-Family 游ゴシック
-------------------------------------------------- */ 
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.1rem;
}

/* ##### 游明朝体フォント ##### */
$f-mincho: YuMincho , "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;

/* --------------------------------------------------
 Heading-size 見出しフォントサイズ
-------------------------------------------------- */ 
$catch-copy: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
$section-title: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
$section-subtitle: rem(18);
$blog-title: 2.0rem;

/* --------------------------------------------------
 base-size 基本フォントサイズ
-------------------------------------------------- */ 
$f-large: rem(20);
$f-medium: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
$f-default: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
$f-small: rem(14);
$f-sm-small: 1.2rem;
