/*===================================================
 button.scss
 ボタンの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

/* --------------------------------------------------
 Primary-buttonの定義
-------------------------------------------------- */ 
.primary-btn {
  width: 240px;
  height: 64px;
  line-height: 64px;
  margin: 0 auto;
  position: relative;
  font-family: $font-source-serif;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 2px;
    background-color: $c-accent;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 2px;
    background-color: $c-accent;
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:hover::before {
    opacity: 0.6;
  }


  &__link {
    padding-right: 0;
    position: relative;
    color: $c-accent;
    font-weight: 600;
    transition: 0.3s;
    font-size: $f-default;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 4px);
      right: 16px;
      transform: rotate(30deg);
      width: 12px;
      height: 1px;
      background-color: $c-accent;
      transition: 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 32px;
      height: 1px;
      background-color: $c-accent;
      transition: 0.3s;
    }

    &:hover {
      opacity: 0.6;
    }

    &:hover::before {
      right: 8px;
    }

    &:hover::after {
      right: 8px;
    }
  }

}

/* --------------------------------------------------
 お問い合わせフォームボタンのスタイリング
-------------------------------------------------- */ 
.form-btn {
  width: 240px;
  height: 56px;
  background-color: $c-accent;
  cursor: pointer;
  color: $c-font-white;
  border: none;
  transition: 0.3s;

  &:hover {
    opacity: 0.6;
  }
}
