/*===================================================
 contact.scss
 お問い合わせのスタイリング
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */


/* --------------------------------------------------
 入力フォームのスタイリング
-------------------------------------------------- */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:last-child {
      margin-bottom: 24px;
    }
  }

  &__label {
    & p {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }
  }

  &__required-text {
    margin-left: 16px;
    font-size: $f-small;
    color: $c-note;
  }


  & input , & textarea{
    width: 440px;
    outline:none;
    padding: 16px;
    font-size: $f-small;
    border: 1px solid $c-border;
    background-color: inherit;
    
    @include mq(sp) {
      width: 100%;
    }
  }

  & .wpcf7-list-item {

  & input[type=checkbox] {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    border: 1px solid $c-accent;
  } 

    & label {
      display: flex;
      align-items: center;
    }

    & a {
      display: inline-block;
      color: $c-accent;
      border-bottom: 1px solid $c-accent;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  & input[type=submit] {
    display: block;
    background-color: $c-accent;
    color: $c-white;
    width: 240px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    &:hover {
      opacity: 0.6;
    }
  }

  & .wpcf7-not-valid {
    border: 1px solid $c-note;
  }

  & .wpcf7-not-valid-tip {
    font-size: $f-small;
  }


  &__btn {
    text-align: center;
  }

  @include mq(sp) {
    justify-content: center;
    &__item {
      width: 100%;
    }

    &__label {
      align-items: center;
      text-align: left;
      gap: 8px;
      font-size: rem(14);
    }
  }
}
