/*===================================================
 heading.scss
 見出しの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

/* --------------------------------------------------
 キャプチャ用見出しの定義
-------------------------------------------------- */
.heading {
  display: flex;
  align-items: center;
  gap: 32px;

  &__border {
    width: 160px;
    height: 1px;
    background-color: $c_white;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &__text {
    font-family: $font-source-serif;
    font-size: $section-title;
    color: $c_white;

    &--sub {
      font-weight: 300;
      font-size: $f-default;
    }
  }

  &--article {
    top: 40%;

    @include mq(tab) {
      top: 40%;
    }
  }

  @include mq(tab) {
    width: 100%;
    padding-left: 32px;

    &__border {
      width: 80px;
    }

    &__text {
      font-size: 20px;

      &--sub {
        font-weight: 300;
        font-size: $f-small;
      }
    }
  }
}

/* --------------------------------------------------
 ビジュアル用見出し
-------------------------------------------------- */
.top-visual,.visual-capture {
  position: relative;

  & .visual-heading {
    position: absolute;
    width: 240px;
    top: 50%;
    left: 56%;
    transform: translate(-56%, -50%);
    height: 100%;
    background-color: rgba(253, 255, 252, 0.25);
    display: table;
    font-family: $font-source-serif;

    @include mq(sp) {
      width: 200px;
    }

    &--center {
      left: 43%;
      transform: translate(-43%, -50%);
    }

    &--page {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__inner {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0 16px;

    }

    &__main {
      font-size: $section-title;
      display: block;
      color: $c-font-white;
      border-top: 1px solid $c-white;
      padding-top: 16px;

      @include mq(sp) {
        padding-top: 8px;
      }
    }

    &__sub {
      font-size: $section-subtitle;
      font-weight: 300;
      display: block;
      color: $c-font-white;
      padding-bottom: 16px;
      border-bottom: 1px solid $c-white;
      @include mq(sp) {
        padding-bottom: 8px;
      }
    }
  }
}

/* --------------------------------------------------
 キャプチャ背景なし見出しの定義
-------------------------------------------------- */
.section-heading {
  width: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px;
  border-top: 1px solid $c_accent;
  border-bottom: 1px solid $c_accent;
  margin-bottom: 32px;

  &__main {
    font-size: $section-title;
    color: $c-accent;
  }
  &__sub {
    font-weight: 300;
    color: $c-accent;
    font-size: $section-subtitle;
  }

  @include mq(tab) {
    &__border {
      width: 80px;
    }
  }
}

/* --------------------------------------------------
 コンテンツラベルの定義
-------------------------------------------------- */
.contents-title {
  display: flex;
  align-items: center;
  color: $c-accent;
  font-family: $font-source-serif;

  &__main {
    font-size: $contents-title;
    font-weight: 900;
    text-align: center;
    padding-right: 8px;
    position: relative;
  }

  &__sub {
    font-size: $f-default;
    font-weight: 300;
    padding-left: 24px;
    position: relative;

    &::before {
      content: "";
      width: 16px;
      height: 1px;
      transform: rotate(-45deg);
      background-color: $c-accent;
      position: absolute;
      top: 50%;
      left: 0;
    }
  }

  @include mq(tab) {
    margin-bottom: 32px;
  }

  &--menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;

    @include mq(tab) {
      position: static;
      transform: none;
      margin-bottom: 24px;
    }
  }
}

/* --------------------------------------------------
 タイトルラベルの定義
-------------------------------------------------- */
.title-label {
  position: relative;
  padding-left: 80px;
  font-size: $f-large;
  font-family: $font-source-serif;
  font-weight: 600;
  color: $c-accent;
  margin-bottom: 32px;

  @include mq(sp) {
    padding-left: 64px;
    margin-bottom: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 56px;
    height: 1px;
    background-color: $c-border;

    @include mq(sp) {
      width: 48px;
    }
  }

  &__sub {
    font-size: rem(16);
    margin-left: 16px;
    font-weight: 300;
  }
}