/*===================================================
 pagination.scss
 ページネーションの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

.pagination {
  &__list {
    margin: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    @include mq(sp) {
      gap: 4px;
    }

    & a {
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      border: 1px solid $c-border;
      color: $c-accent;
      transition: 0.3s;
      font-size: $f-small;
      &:hover {
        background-color: $c-accent;
        opacity: 0.6;
        color: $c-white;
      }

      @include mq(sp) {
        &:nth-child(4) {
          display: none;
        }

        &:nth-child(6) {
          display: none;
        }
      }
    }

    & .current {
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      background-color: $c_accent;
      color: $c_white;
    }

    & .prev, & .next {
      width: 80px;
      height: 48px;

      @include mq(sp) {
        width: 64px;
      }
    }

  }

}