/*===================================================
 pkz.scss
 パンくずリストの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

.pkz {
  padding: 16px 0;
  background-color: $c-main;

  @include mq(tab) {
    padding: 16px 32px;
  }
  @include mq(sp) {
    padding: 16px;
  }

  &__list {
    @include InnerWidth;
    display: flex;
    align-items: center;
    padding-left: 0;

    @include mq(tab) {
      overflow-x: auto;
      word-break: keep-all;
      white-space: nowrap;
      padding-bottom: 4px;

      &::-webkit-scrollbar {
        width: 8px;
        height: 6px;
      }

      &::-webkit-scrollbar-track {
        border: 1px solid $c-border;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: $c-border;
        border-radius: 8px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: $f-small;
    &::after {
      content: ">";
      display: inline-block;
      padding: 0 24px;

      @include mq(sp) {
        padding: 0 16px;
      }
    }

    &:last-child::after {
      content: none;
    }
  }

  &__link {
    color: $c-accent;
    border-bottom: 1px solid $c-border;
    transition: 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}
