/*===================================================
 pkz.scss
 パンくずリストの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

.breadcrumb {
  padding: 16px 0;

  @include mq(tab) {
    padding: 16px 32px;
  }
  @include mq(sp) {
    padding: 16px;
  }

  &__list {
    @include InnerWidth;
    display: flex;
    align-items: center;
    overflow-x: auto;
      word-break: keep-all;
      white-space: nowrap;

    @include mq(tab) {
      overflow-x: auto;
      word-break: keep-all;
      white-space: nowrap;
      padding-bottom: 4px;

      &::-webkit-scrollbar {
        width: 8px;
        height: 6px;
      }

      &::-webkit-scrollbar-track {
        border: 1px solid $c-border;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: $c-border;
        border-radius: 8px;
      }
    }
  }

  & span {
    font-size: $f-small;
    margin-right: 12px;

    &:nth-child(n + 2) {
      margin-left: 12px;
    }

    &:last-child {
      margin-right: 0;
    }

    & a {
      color: $c-accent;
      border-bottom: 1px solid $c_accent;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__link {
    color: $c-accent;
    border-bottom: 1px solid $c-border;
    transition: 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}
