/*===================================================
 header.scss
 ヘッダーの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

/* --------------------------------------------------
 ヘッダーの指定
-------------------------------------------------- */
.header{
  
  position: absolute;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__inner {
    width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(tab) {
      padding: 0 32px;
    }
  
    @include mq(sp) {
      padding: 16px 16px 0 16px;
      flex-direction: column;
    }
    
  }

  &__logo-link {
   z-index: 1;
  }

  & .dnone {
    opacity: 0;/*透過0にして非表示に*/

    & .panelactive {
      opacity: 1;/*不透明にして出現*/
    }
  }
}

