/*===================================================
 _variables.scss
 共通使用変数
================================================== */
@use "../config/function" as *;

/* --------------------------------------------------
 ##### Color  #####

 Site-Color サイトカラー
-------------------------------------------------- */
$c-base: #fdfffc;
$c-main: #edeae5;
$c-accent: #4a5733;
$c-green: #8E9F72;

/* --------------------------------------------------
 Font-Color　フォントカラー
-------------------------------------------------- */
$c-font-black: #3a3e33;
$c-font-white: #edeae5;

$c_black: #3a3e33;
$c_white: #edeae5;

/* --------------------------------------------------
 Border-Color　ボーダーカラー
-------------------------------------------------- */
$c-border: #aaa;

/* --------------------------------------------------
 Border-Color　ホバーカラー
-------------------------------------------------- */
$c-hover: #aaa;

/* --------------------------------------------------
 shadow 影
-------------------------------------------------- */
$box-shadow: 3px 3px 6px rgba(65, 65, 65, 0.2);

/* --------------------------------------------------
 Other　その他カラー
-------------------------------------------------- */
$c-note: #f24343;
$c-opacity: rgba(181, 181, 181, 1.6);
$c-no-active: #aaa;

/* --------------------------------------------------
 ##### Font #####

 Font-Family 游ゴシック
-------------------------------------------------- */
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ##### Chivo Googleフォント ##### */
$font-source-serif: "Source Serif 4", serif;

/* --------------------------------------------------
 Heading-size 見出しフォントサイズ
-------------------------------------------------- */
$catch-copy: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
$section-title: clamp(1.5rem, 1.318rem + 0.91vw, 1.7rem);
$contents-title: clamp(1.25rem, 1.205rem + 0.23vw, 1.375rem);
$section-subtitle: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
$blog-title: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);

/* --------------------------------------------------
 base-size 基本フォントサイズ
-------------------------------------------------- */
$f-large: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
$f-medium: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
$f-default: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
$f-small: rem(14);
$f-sm-small: rem(12);
