/*===================================================
 contact.scss
 お問い合わせのスタイリング
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

/* --------------------------------------------------
 入力フォームのスタイリング
-------------------------------------------------- */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:last-child {
      margin-bottom: 24px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &__required-text {
    margin-left: 16px;
    font-size: $f-small;
    color: $c-note;
    vertical-align: bottom;
  }

  &__text {
    width: 440px;
    padding: 16px;
    font-size: $f-small;
    border: 1px solid $c-border;
    background-color: inherit;
  }

  &__textarea {
    width: 440px;
    padding: 16px;
    font-size: $f-small;
    border: 1px solid $c-border;
    background-color: inherit;
  }

  &__check-item {
    text-align: center;
  }

  &__checkbox {
    position: relative;
    margin-right: 8px;
    min-width: 18px;
    min-height: 18px;
    border: 1px solid $c-accent;
    vertical-align: -5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

    &:checked:before {
      position: absolute;
      top: 2px;
      left: 5px;
      transform: rotate(50deg);
      width: 6px;
      height: 10px;
      border-right: 2px solid $c-accent;
      border-bottom: 2px solid $c-accent;
      content: "";
    }
  }

  &__btn {
    text-align: center;
  }

  input,
  textarea {
    outline:none;
  }

  @include mq(sp) {
    justify-content: center;
    &__item {
      width: 100%;
    }

    &__label {
      align-items: center;
      text-align: left;
      gap: 8px;
      font-size: rem(14);
    }

    &__text {
      width: 100%;
    }

    &__textarea {
      width: 100%;
    }
  }
}
