/*===================================================
  instagram.scss
 インスタグラムパーツの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

.instagram {
  &__label {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    padding: 15px;
    border-radius: 50px;
    background-color: #323232;
  }

  &__icon-img {
    width: 18px;
    height: 18px;
  }

  &__account-name {
    font-size: $section-subtitle;
    font-weight: 600;
  }
}

/* --------------------------------------------------
  画像リスト
-------------------------------------------------- */ 
.instagram-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  &__item {
    max-width: 238px;
  }

  @include mq(tab) {
    gap: 8px;
    margin-bottom: 24px;
    &__item {
      width: calc(100% / 3 - 8px);
    }
  }

  @include mq(sp) {
    gap: 8px;
    &__item {
      width: calc(100% / 2 - 4px);
    }
  }
}

.instagram-button {
  display: flex;
  justify-content: center;
  gap: 24px;

  &__more {
    padding: 12px 16px;
    background-color: #323232;
    color: $c_white;
    border: none;
    border-radius: 4px;
  }

  &__follow {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    background-color: #5F89C4;
    color: $c_white;
    border: none;
    border-radius: 6px;
    justify-content: center;
  }

  &__icon {
    width: 14px;
    height: 14px;
  }

  @include mq(sp) {
    flex-wrap: wrap;
    gap: 16px;

    & button {
      width: 100%;
    }
  }
  
}