/*===================================================
 slider.scss
 カルーセルスライダーの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

/* --------------------------------------------------
 スライドパーツ カスタマイズ
-------------------------------------------------- */
.slick-next {
  right: 0 !important;

  &::before {
    color: $c-accent !important;
    font-size: 24px !important;
    line-height: 1;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
  }
}

.slick-prev {
  padding: 8px;
  left: 0 !important;

  &::before {
    color: $c-accent !important;
    font-size: 24px !important;
    line-height: 1;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
  }
}

.dots-class {
  display: flex;
  justify-content: center;
  gap: 16px;

  & button {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  & li {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    border: 1px solid $c-border;
  }

  & .slick-active {
    background-color: $c-accent;
     border: none;
  }


}

.slick-arrow {
  z-index: 2 !important;
}