/*===================================================
 slider.scss
 カルーセルスライダーの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

/* --------------------------------------------------
 スライドパーツ カスタマイズ
-------------------------------------------------- */ 
.slick-next {
  right: 0!important;

  &::before {
    color: $c-accent !important;
  }
}

.slick-prev {
  left: 0!important;
  
  &::before {
    color: $c-accent !important;
  }
}

.slick-arrow{ 
  z-index:2!important; 
}
