/*===================================================
 tab.scss
 タブメニューの定義
================================================== */
/* //////////// 変数読み込み ここから //////////// */
@use "../mixin/mixin" as *;
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/mq" as *;
/* //////////// 変数読み込み ここまで //////////// */

/* --------------------------------------------------
 タブメニューのスタイリング
-------------------------------------------------- */
.tab {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  &__item {
    flex-grow: 1;
    padding-bottom: 5px;
    list-style: none;
    border-bottom: solid 1px $c-border;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-no-active;
    font-size: $f-default;

    &.is-active {
      padding-bottom: 4px;
      color: $c-accent;
      font-weight: 600;
      border-bottom: 2px solid $c-accent;
      filter: invert(28%) sepia(51%) saturate(324%) hue-rotate(40deg) brightness(96%) contrast(90%);
      cursor: default;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 16px;
    filter: invert(69%) sepia(4%) saturate(6%) hue-rotate(353deg) brightness(99%) contrast(89%);

    @include mq(sp) {
      margin-right: 8px;
    }
  }


  &__panel {
    display: none;
    &.is-active {
      display: block;
      animation-name: displayAnime;
      /*ふわっと表示させるためのアニメーション*/
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
}
